body{
    background-color: rgb(237,238,240) ;
    font-family:Tahoma;
}
header {
    height:50px;
    background-color: rgb(74,118,168);
    display:flex;
    flex-direction:row;
}
header div{
    margin-top: 8px;
    margin-left: 170px;
}

header ::placeholder {
    color: rgb(143,173,200);
}
header input[type="text"]{
    background-color: rgb(34,75,122);
    border-radius:20px;
    color: rgb(143,173,200);
    border:none;
    width:200px;
    padding:7px 7px;
    background-image: url('search.png');
    background-repeat: no-repeat;
    background-position: 7px 7px; 
    padding: 7px 20px 7px 40px;
    
}

header input[type="text"]:focus{
    background-color:white;
    background-image: url('searchFocus.png');
    background-position: 7px 7px; 
    outline: none;
}


.body{
    margin-top:20px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.body img{
    margin-top:30px;
}

.body p{
    font-size:14px;
}

h1 {
    font-weight:normal;
}

a {
    text-decoration: none;
    color: rgb(42,88,143);
}

.links{
    display:flex;
    flex-direction:row;
    color: rgb(42,88,143);
}

.links label{
    margin:0 auto;
    font-size:13px;
}

aside{
    text-align:center;
}

aside p:last-child,
form a{
     color: rgb(42,88,143);
     font-size:13px;
     
}

 p a:hover , 
 form a:hover{
     color: rgb(42,88,143);
     text-decoration: underline;
}



.logIn{
    background-color:#fff;
    height: fit-content;
}




form {
    display:flex;
    flex-direction:column;
   
}
 
form input[type="text"],
input[type="password"]{
    font-size:12px;
    padding:10px 10px;
    width:270px;
    margin:20px 0 0 20px;
    border-radius:2px;
    border:1px solid lightgrey;
}

form input[type="text"],
input[type="password"]:focus{
     outline: none;
}

 form input[type="submit"]{
    border:none;
    border-radius:2px;
    color:#fff;
    padding:7px 30px;
    margin:20px 15px 20px 20px;
    background-color:rgb(81, 129, 184);
}

 .anketaBlock{
    background-color:white;
    height: fit-content;
}

.anketa {
    display:flex;
    flex-direction:column;
    margin:25px;
}

.anketa h3{
    text-align:center;
    margin:25px 0 0 0;
    font-weight:normal;
}

.anketa .signUp{
    text-align:center;
    margin:5px 0 0 0 ;
    font-size:13px;
    color:rgb(101,101,101);
}

.anketa .tittle{
    margin:10px 0 5px 0 ;
    font-size:13px;
    color:rgb(101,101,101);
}

.date{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.gender label{
    margin-right:20px;
    font-size:13px;
}

input[list="day"],
input[list="year"]{
    width:50px;
    padding:0 10px;
    border-radius:2px;
     border:1px solid lightgrey;
}

input[list="month"]{    
    width:90px;
    padding:7px 7px;
    border-radius:2px;
     border:1px solid lightgrey;
}
 
.anketaBlock input[type="text"]
{
    margin-top:20px;
    font-size:12px;
    padding:10px 10px;
    width:270px;
    border-radius:2px;
    border:1px solid lightgrey;
}
.anketaBlock input[type="text"]:focus
{
   outline:none;
}

.gender{
    display:flex;
    flex-direction:row;
    margin:0 10px 0 0;
    font-size:15px;
    text-align:center;
}

input[type="submit"]{
    border:none;
    border-radius:4px;
    color:#fff;
    padding:10px 30px;
    margin:10px 0;
    background-color:rgb(95, 176, 83);
}

input[class="facebookButtom"]{
    border:none;
    border-radius:4px;
    color:#fff;
    padding:10px 30px;
    margin:10px 0;
    background-color:rgb(81, 129, 184);
}